.footer {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 16px;
  padding-bottom: 8px;
  background: #111;
  width: 340px;
  position: sticky;
  bottom: 0;
  background: transparent;
}

.footer a {
  text-decoration: none;
  padding: 0 20px;
}

.footer svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.footer a:hover span {
  visibility: visible;
  color: rgb(0, 163, 255);
}

.footer a span {
  visibility: hidden;
  bottom: 100%;
  border: solid 1px rgb(0, 163, 255);
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;
  position: absolute;
}

.footer a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footerIcon {
  width: 52px;
  height: 52px;
  margin-right: 4px;
  transition: transform 0.2s ease-in-out;
}

.footerIcon:hover {
  transform: scale(1.125);
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.01);
  z-index: -1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
