:root {
  /* --color-terminal-bg: #300924; */
  --color-terminal-bg: #1a3951;
  --color-terminal-green: #aef112;
  --color-terminal-green-d: #4e9a06;
  --color-terminal-blue: #34e2e2;
  --color-terminal-blue-d: #00a3ff;
  --color-terminal-red: #ff5f4d;

  --color-bg-gradient-start: rgb(44, 30, 62);
  --color-bg-gradient-end: rgb(26, 26, 46);
  --color-text-main: #eaeaea;
  --color-border-dark: #3c3c3c;
  --color-bg-dark-grey: #2d2d2d;
  --color-bg-black: #111;
  --color-glass-bg: rgba(255, 255, 255, 0.01);
  --color-bg-vscode-dark: #1e1e1e;
  --color-text-muted: #b0b0b0;
  --color-text-light: whitesmoke;
  --color-text-gray: lightgray;
  --color-bg-vscode-sidebar: #252526;
  --color-vscode-tab-top: #4e9ce4;
  --color-divider-home: rgb(176, 176, 176);
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

p {
  text-align: justify;
}

html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(
    to right bottom in oklab,
    var(--color-bg-gradient-start) 0%,
    var(--color-bg-gradient-end) 100%
  );
  color: var(--color-text-main);
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Layout */
.main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 40px;
  height: 100vh;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.box {
  padding: 10px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex: 1;
  border: solid 1px var(--color-border-dark);
}

/* Sidebar */
.sidebar {
  min-width: max-content;
  margin-right: 10px;
  height: max-content;
}

pre {
  overflow-wrap: break-word;
  text-align: justify;
}

/* Right panel */
.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: black;
  margin-bottom: 8px;
}

/* Content area */

.app-header {
  color: white;
  display: flex;
  background: var(--color-bg-dark-grey);
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: solid 1px #3c3c3c;
  border-bottom: none;
}

/* Header */
.app-header svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.appTitle {
  display: flex;
}

.dot-red,
.dot-green,
.dot-orange {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.dot-red {
  background-color: #ff5f56;
}

.dot-orange {
  background-color: #ffbd2e;
}

.dot-green {
  background-color: #27c93f;
}
