@font-face {
  font-family: "Abel";
  src: url("/fonts/Abel-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Browser box */
#browserBox {
  background: #1e1e1e;
  color: #b0b0b0;
  display: flex;
  flex-direction: column;
  font-family: "Abel";
  font-size: 20px;
  overflow-y: auto;
}

.boxItem a {
  color: whitesmoke;
  text-decoration: none;
}

/* Toolbar (searchbar) */
.browserToolbar {
  border-bottom: 1px solid;
  background: #2d2d2d;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: 40px;
  border: solid 1px #3c3c3c;
}

.browserToolbar > span > svg {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  color: white;
}

/* URL bar */
.urlBar {
  padding: 4px 8px;
  border-radius: 6px;
  background: #1e1e1e;
  color: lightgray;
  width: 100%;
  display: flex;
  align-items: center;
}

.urlBar p {
  font-size: 13px;
}

.lockIcon svg {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

#introduction {
  margin-bottom: 40px;
}

/* Experite box */
#programmingItem {
  margin-top: 24px;
}

.expertiseItem ul {
  margin-top: 12px;
  padding-left: 20px;
  color: #b0b0b0;
}

.expertiseItem li {
  padding: 4px 0;
}

.expertiseItem li svg {
  height: 10px;
  width: 10px;
  margin-right: 8px;
}

.expertiseItem ul li {
  display: flex;
  align-items: baseline;
}

.divider {
  margin: 0 20px !important;
  display: flex;
}

.divider::before {
  border-color: rgb(176, 176, 176) !important;
}

.divider::after {
  border-color: rgb(176, 176, 176) !important;
}

.divider > span > div {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}

.divider span {
  margin: 0 6px;
}

.divider h2 {
  margin-left: 10px;
  font-size: 24px;
  color: whitesmoke;
}

.icon {
  display: flex;
  align-items: center;
}
