#main {
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
}

.leftContainer {
    align-self: normal;
    background-color: #36393b;
    margin-top: 10px;
    border-radius: 3px;
}

#expertiseBox {
    margin-top:0;
}

#experienceBox {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    margin-left: 0;
}

.expTitle {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    margin-right: 8px;
    min-width: 120px;
    justify-content: flex-start;
}

.expDesc {
    margin: 0 10px 0 8px;
    padding: 0 10px 0 8px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    padding: 3px 0;
    
}

.itemLevel {
    background-color: #36393b;
    height: 6px;
    margin: 2px 0;
    border-radius: 8px;
}

#referenceBox {
    display: flex;
    flex-direction: column;
}

.refTitle {
    padding-bottom: 2px;
    font-weight: bold;
}

.refDate {
    padding-top: 2px;
}