@import url('https://fonts.googleapis.com/css?family=EB Garamond');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Mr+Dafoe&family=Mrs+Saint+Delafield&family=Water+Brush&display=swap');
:root {
  --color-1: #2596be;
  --color-2: #36393b;
}

body {
  background-color: var(--color-2);
  margin: 0;
  font-family: 'EB Garamond';
  padding: 0 40px;
  min-width: 1000px;
}

.main {
  display: flex;
  height: 100%;
  background-color: whitesmoke;
  padding: 10px;
  color: var(--color-2);
  padding: 30px 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: normal;
  width: 100%;
}

.boxContent {
  background-color: whitesmoke;
  align-self: normal;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
}

.subTitle {
  border-radius: 3px 3px 0 0;
  font-size: 20px;
  text-align: center;
  align-self: center;
  padding: 14px 30px;
  align-self: normal;
  margin: 0;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h3 {
  color: var(--color-1);
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 1.375rem;
  padding: 4px;
  text-align: justify;
}

span {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--color-2);
}