.leftContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#skillsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.skill {
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-direction: column;
    border-radius: 3px;
    background-color: var(--color-1);
    color: whitesmoke;
}

.skillItem {
    padding: 1px;
}

.icon {
    margin-right: 10px;
    height: 18px;
}

.link {
    color: #2596be;
}

.homeBtn {
    padding: 20px;
    color: var(--color-1);
    border: color(var(--color-1));
    font-weight: bold;
    font-family: 'Abel';
    font-size: 16px;
}

.userPicture {
    border-radius: 8px;
    margin-left: 40px;
    padding: 4px;
}

.btnGroup {
    margin-right: 40px;
    width: 145px;
}