#introContainer {
    margin-right: 20px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}

#skillsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-direction: column;
    border-radius: 2px;
    border: solid rgba(37, 150, 190);
}

.skillItem {
    padding: 6px;
}

.icon {
    margin-right: 10px;
    height: 18px;
}

.link {
    color: #2596be;
}

.homeBtn {
    padding: 20px;
}

.btnGroup {
    margin: 20px 0 20px 20px;
    padding: 20px 0 20px 20px;
}


/* #introBox, #skillsBox {
    padding: 50px 100px;
    margin: 50px 150px;
    display: flex; 
}

#introContainer, #skillsContainer {
    width: 70%;
    align-self: center;
}

#skillsBox {
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

#skillsBox span {
    padding: 6px;
    margin: 6px;
}

#introBox {
    flex-direction: column;
}

.languageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.languageIcon {
    border-radius: 50px;
    margin-bottom: 8px;
    padding: 4px;
}

.languageList {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin-bottom: 4px;
    border-radius: 2px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 4px;
} */