#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectCard {
    width: 400px;
    margin-bottom: 50px;
}

.tech {
    color: red;
}

.link {
    color: blue;
}

.projectName {
    font-size: 22px;
    margin-bottom: 6px;
    padding-bottom: 6px;
}