#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectCard {
    width: 400px;
    margin-bottom: 50px;
}

.tech {
    color: var(--color-1);
    border: solid 1px;
    padding: 4px 6px;
    margin: 0px 2px;
    font-size: 14px;
    border-radius: 3px;
}

.techsList {
    display: flex;
    justify-content: space-evenly;
}

.projectName {
    font-size: 22px;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.projectBox a {
    margin-right: 10px;
}