#main {
    justify-content: center;
    align-items: flex-start;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-self: normal;
    border-radius: 3px;
}

.downloadButton {
    align-self: center;
    justify-self: center;
    margin: 20px 20px;
    padding: 8px 30px;
    background-color: var(--color-1);
    color: whitesmoke;
    border-radius: 3px;
}

.downloadButton:hover {
    border-color: var(--color-1);
    color: var(--color-1);
}

.downloadButton > span {
    margin-left: 6px;
    font-size: .9rem;
}

#languagesContainer {
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.languageIcon {
    border-radius: 50%;
    margin-bottom: 14px;
}

.languageName {
    margin-right: 10px;
    font-size: 1.375rem;
    font-weight: bold;
}

.languageLevel {
    font-size: 1.35rem;
}

#expertiseBox {
    margin-top:0;
}

#experienceBox {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding-bottom: 60px;
    margin: 20px 0 60px 10px;
}

.expTitle {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    margin-right: 8px;
    min-width: 120px;
    justify-content: flex-start;
}

.expDesc {
    margin: 0 10px 0 6px;
    padding: 0 10px 0 6px;
}

.expDesc p {
    font-size: 1.175rem;
}

.expTechs {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    margin: 8px 0;
}

.expTechsItem {
    background-color: var(--color-1);
    border-radius: 2px;
    padding: 4px 25px;
    margin: 6px 20px;
    color: whitesmoke;
    font-size: 1.15rem;
}

.duration {
    margin-left: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    padding: 3px 0;
}

.item span {
    font-size: 1.175rem;
}

.itemLevel {
    background-color: var(--color-2);
    opacity: 85%;
    height: 3px;
    margin: 2px 0;
    border-radius: 8px;
}

#referenceBox {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

#diplomasContainer {
    padding: 10px 0;
    margin: 6px 0;
}

.refTitle {
    padding-bottom: 2px;
    font-weight: bold;
}

.refDate {
    padding-top: 2px;
}